# Day 04 â€“ Python Lists Practice

This notebook contains 10 practice problems focused on:
- Basic list operations using loops
- Finding min, max, and frequency manually
- List manipulation without built-in shortcuts
- Applying logic on collections of data

Q1. Take a list of numbers and find the sum without using sum().

In [ ]:
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
total = 0
for i in numbers:
  total += i

print("Sum of List:",total)

Enter numbers separated by space: 12 3 4 9 27
Sum of List: 55

Q2. Find the largest and smallest element in a list (without using max() or min()).

In [ ]:
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
small = numbers[0]
large = numbers[0]
for i in numbers:
  if i > large:
    large = i
  if i<small:
    small = i

print(f'Largest number: {large}\nSmallest number: {small}')

Enter numbers separated by space: 12 3 4 9 27
Largest number: 27
Smallest number: 3

Q3. Count how many even and odd numbers are in a list.

In [ ]:
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
even = 0
odd = 0
for i in numbers:
  if i%2 == 0:
    even += 1
  else:
    odd += 1

print(f'Odd number count: {odd}\nEven numbrs count: {even}')

Enter numbers separated by space: 12 3 4 9 27 30 5
Odd number count: 4
Even numbrs count: 3

Q4. Remove duplicate elements from a list (preserve original order).

In [ ]:
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
unique = []
for num in numbers:
  if num not in unique:
    unique.append(num)
print(f"List without duplicates: {unique}")

Enter numbers separated by space: 1 3 5 3 4 1 2 5
List without duplicates: [1, 3, 5, 4, 2]

Q5. Reverse a list without using reverse() or slicing.

In [ ]:
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
left = 0
right = len(numbers) - 1

while left < right:
  numbers[left], numbers[right] = numbers[right], numbers[left]
  left += 1
  right -= 1

print(f'Reverse list: {numbers}')

Enter numbers separated by space: 12 3 4 9 27 30 5
Reverse list: [5, 30, 27, 9, 4, 3, 12]

Q6. Find the second largest number in a list.

In [ ]:
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
large = 0
second_large = 0
for num in numbers:
  if num > large:
    second_large = large
    large = num

print(f"Second largest number: {second_large}")

Enter numbers separated by space: 12 3 4 9 27 30 5
Second largest number: 27

Q7. Check whether a list is sorted in ascending order.

In [ ]:
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
if numbers == sorted(numbers):
  print("List is asceending order")
else:
  print("list is not ascending order")

Enter numbers separated by space: 12 3 4 9 27 30 5
list is not ascending order

Q8. Split a list into two lists:

* one with even numbers

* one with odd numbers

In [ ]:
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
even = []
odd = []
for num in numbers:
  if num%2 == 0:
    even.append(num)
  else:
    odd.append(num)

print(f'Odd list: {odd}')
print(f'Even list: {even}')

Enter numbers separated by space: 12 3 4 9 27 30 5
Odd list: [3, 9, 27, 5]
Even list: [12, 4, 30]

Q9. Rotate a list to the right by 1 position.

In [ ]:
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
last = numbers[-1]
for num in range(len(numbers) - 1, 0, -1):
  numbers[i] = numbers[i-1]

numbers[0] = last
print(numbers)

Enter numbers separated by space: 12 3 4 9 27 30 5
[5, 12, 3, 4, 9, 27, 30]

Q10. Find the most frequent element in a list.

In [74]:
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
freq = {}
for num in numbers:
    freq[num] = freq.get(num, 0) + 1

most_freq = numbers[0]
for num in freq:
    if freq[num] > freq[most_freq]:
        most_freq = num


print(f"Most frequent {most_freq}")

Enter numbers separated by space: 1 3 5 3 4 1 2 1 5
Most frequent 1