[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)]
(https://colab.research.google.com/github/RiteshZadke/data-science-daily-practice/blob/main/01_python_daily/day_06_dictionaries_sets.ipynb)

# Day 06 â€“ Python Dictionaries & Sets Practice

This notebook contains practice problems focused on:
- Using dictionaries for counting and aggregation
- Working with sets for uniqueness and comparisons
- Applying loops to solve data-centric problems
- Strengthening core data structure concepts

Q1. Take a string and count the frequency of each word using a dictionary.

In [43]:
text  = input("Enter string: ").lower().split()
freq = {}
for word in text :
  freq[word] = freq.get(word,0)+1

print(freq)

Enter string: data science data
{'data': 2, 'science': 1}

Q2. Given a list of numbers, count the frequency of each number using a dictionary.

In [44]:
numbers = [2,2,1,3,4,5,3]
freq_dict = {}
for i in numbers:
  freq_dict[i] = freq_dict.get(i,0)+1

print(freq_dict)

{2: 2, 1: 1, 3: 2, 4: 1, 5: 1}

Q3. Find the key with the maximum value in a dictionary.

In [45]:
dic = {'a':4,'b':10,'c':34,'d':5,'e':22}
max_key, max_value = next(iter(dic.items()))

for key,value in dic.items():
   if value > max_value:
     max_value = value
     max_key = key

print(f"The key with the maximum value is '{max_key}' with value {max_value}")

The key with the maximum value is 'c' with value 34

Q4. Merge two dictionaries.

If a key exists in both add their values.

In [46]:
dic_1 = {'a':1,'b':3,'c':1}
dic_2 = {'a':2,'d':4,'b':1}
merge = {}

for key in dic_1:
  merge[key] = dic_1[key]

for key in dic_2:
  if key in merge:
    merge[key] += dic_2[key]

  else:
    merge[key] = dic_2[key]

print(merge)

{'a': 3, 'b': 4, 'c': 1, 'd': 4}

Q5. Remove keys from a dictionary whose value is less than 10.

In [47]:
dic = {'a':4,'b':10,'c':34,'d':5,'e':22}
rem_dic ={}
for key,value in dic.items():
  if value >= 10:
    rem_dic[key] = dic[key]

print(rem_dic)

{'b': 10, 'c': 34, 'e': 22}

Q6. Given two lists, find their common elements using sets.

In [48]:
list_1 = [1,2,3,4,5]
list_2 = [4,6,5,7,8]

common = list(set(list_1) & set(list_2))

print(common)

[4, 5]

Q7. Find the union and intersection of two sets.

In [49]:
set_1 = {1,2,3,4,5}
set_2 ={4,6,5,7,8}

set_union = set_1 | set_2
set_intersection = set_1 & set_2

print('Set union',set_union)
print('Set intersection',set_intersection)

Set union {1, 2, 3, 4, 5, 6, 7, 8}
Set intersection {4, 5}

Q8. Check whether one set is a subset of another (without using .issubset()).

In [50]:
set_1 = {1,2,3,4,5}
set_2 = {3,4,5}

is_subset = True
for i in set_2:
  if i not in set_1:
   is_subset = False
   break

if is_subset:
  print('Subset')

else:
  print('Not subset')

Subset

Q9. Remove duplicate elements from a list using a set, but preserve order.

In [51]:
numbers = [2, 2, 1, 3, 4, 5, 3]

seen = set()
result = []

for num in numbers:
    if num not in seen:
        seen.add(num)
        result.append(num)

print(result)

[2, 1, 3, 4, 5]

Q10. Given a dictionary of students and marks, find:

* the top scorer

* the average score

In [52]:
students = {
    'Ravi': 85,
    'Anita': 92,
    'Suresh': 78,
    'Neha': 95,
    'Kiran': 88
}
avg = 0
max_key, max_value = next(iter(students.items()))
for key,value in students.items():
  avg += value
  if value > max_value:
    max_key = key
    max_value = value

print(f'The top scorer: {max_key} : {max_value}')
print(f'Avgrage score: {avg / len(students)}')

The top scorer: Neha : 95
Avgrage score: 87.6