[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)]
(https://colab.research.google.com/github/RiteshZadke/data-science-daily-practice/blob/main/01_python_daily/day_09_tuples_immutability.ipynb)

Q1. Create a tuple with 5 elements of different data types.

Print:

* first element

* last element

* slice from index 1 to 3

In [ ]:
tuple_1 = (1,2.5,'ritesh','a',True)
print(tuple_1[0])
print(tuple_1[-1])
print(tuple_1[1:4])

1
True
(2.5, 'ritesh', 'a')

Q2. Create a tuple and try to:

* change one element

* add a new element

In [ ]:
t = (10, 20, 30)
t[1] = 50

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Reason:
# Tuples are immutable → once created, elements cannot be modified.

In [ ]:
t = (10, 20, 30)
t.append(40)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Reason:
# Tuples do not support methods like append() because their size is fixed.

Q3. Tuple Packing and Unpacking

Given:

student = ("Ravi", 21, "Data Science")


Unpack the tuple into:

* name

* age

* course

Print them in a readable format.

In [ ]:
student = ('Ravi', 21, "Data Science")
name ,age,course = ('Ravi', 21, "Data Science")

In [ ]:
print('Name :',name)
print('Age :',age)
print('course :',course)

Q4. Swap two variables without using a third variable.

In [ ]:
t1 = 1
t2 = 2
t2,t1 = t1,t2

In [ ]:
print(t1)
print(t2)

Q5. Single Element Tuple Trap

Create:

* a tuple with one element

* a normal variable with parentheses

Print their types and explain the difference in comments.

In [ ]:
# tuple with one element
t = (10,)

# normal variable with parentheses
x = (10)

print(type(t))  # <class 'tuple'>
print(type(x))  # <class 'int'>

In [ ]:
# Explanation:
# (10,) is a tuple because of the trailing comma
# (10) is just an integer in parentheses, not a tuple
# The comma, not the parentheses, defines a tuple in Python

Q6. Tuple Inside List (Mutability Twist)

Create a list that contains a tuple.

Example:

data = [(1, 2), (3, 4)]


Try:

* modifying the list

* modifying the tuple

Explain what is allowed and why.

In [ ]:
data = [(1, 2), (3, 4)]

data.append((5, 6))
data[0] = (10, 20)

# modifying the tuple (not allowed)
data[1][0] = 30  # TypeError

In [ ]:
# Explanation:
# The list is mutable, so we can add, remove, or replace its elements.
# The tuple inside the list is immutable, so its elements cannot be changed.
# We can replace the entire tuple in the list, but we cannot modify values inside the tuple.

Q7. Given a tuple:

nums = (1, 2, 3, 2, 4, 2)


Find:

* how many times 2 appears

* index of first occurrence of 2

In [ ]:
nums = (1, 2, 3, 2, 4, 2)

# count how many times 2 appears
count_2 = nums.count(2)

# index of first occurrence of 2
first_index_2 = nums.index(2)

print(count_2)
print(first_index_2)

In [ ]:
# Explanation:
# count() returns the total number of occurrences of a value in the tuple
# index() returns the index of the first occurrence of the value

Q8. Write a function that:

* takes a list as input

* returns a tuple

In [ ]:
def list_to_tuple(lst):
    return tuple(lst)

In [ ]:
list_to_tuple([1,2,3,4])

In [ ]:
# Explanation:
# The function accepts a list as input
# tuple() converts the list into a tuple
# The function returns a tuple

Q9. Given a tuple of numbers, calculate:

* sum of elements

* count of elements

In [ ]:
nums = (10, 20, 30, 40)

# sum of elements
total = sum(nums)

# count of elements
count = len(nums)

print(total)
print(count)

In [ ]:
# Explanation:
# sum() calculates the total of all elements in the tuple
# len() returns the number of elements in the tuple

Q10. Create a dictionary where:

* keys are tuples (x, y)

* values are distances from origin

In [ ]:
# dictionary with tuple keys and distance from origin as values
points = {
    (1, 2): (1**2 + 2**2) ** 0.5,
    (3, 4): (3**2 + 4**2) ** 0.5,
    (0, 5): (0**2 + 5**2) ** 0.5
}
print(points)

In [ ]:
# Explanation:
# Tuple (x, y) is used as a key because tuples are immutable and hashable
# Distance from origin is calculated using: √(x² + y²)
# Lists cannot be keys, but tuples can be