[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)]
(https://colab.research.google.com/github/RiteshZadke/data-science-daily-practice/blob/main/01_python_daily/day_7_revision.ipynb)

# Day 07 – Python Weekly Revision

This notebook contains mixed practice problems covering:
- Conditional statements and loops
- Strings and lists
- Dictionaries and sets
- Functions and problem-solving logic

The goal of this notebook is to reinforce core Python concepts
through integrated and interview-style questions.

Q1. Given a sentence, count word frequency and print the top 2 most frequent words.

In [5]:
sen = input('Enter any sentence: ').lower().split()

word_freq = {}

for i in sen:
  word_freq[i] = word_freq.get(i,0)+1

max_key_1 = max_key_2 = None
max_value_1 = max_value_2 = 0

for key, value in word_freq.items():
    if value > max_value_1:
        max_value_2 = max_value_1
        max_key_2 = max_key_1
        max_value_1 = value
        max_key_1 = key
    elif value > max_value_2 and key != max_key_1:
        max_value_2 = value
        max_key_2 = key

print(f"Top 2 most frequent words: {max_key_1}, {max_key_2}")

Enter any sentence: Gradient Descent is classified into Batch, Stochastic, and Mini-Batch types based on how much data is used per update, with Mini-Batch being the most widely used in practice.
Top 2 most frequent words: is, mini-batch

Q2. Given a list of numbers:

* remove duplicates

* sort it

* return the second largest number

In [6]:
nums = [10, 20, 20, 40, 30, 40]

first = second = float('-inf')

for num in set(nums):
    if num > first:
        second = first
        first = num
    elif num > second:
        second = num

print(second)

30

Q3. Write a function that takes a list and returns:

* sum

* average

* maximum

* minimum

Return as a dictionary.

In [9]:
def aggregate(list1):
  sum = 0
  maximum = float('-inf')
  minimum = float('inf')
  for i in list1:
    sum += i

  for i in list1:
    if i > maximum:
      maximum = i

    if i < minimum:
      minimum = i
  average = sum/len(list1)
  return {'sum':sum,'average':average,'maximum':maximum,'minimum':minimum}

In [10]:
aggregate([10, 20, 20, 40, 30, 40])

{'sum': 160, 'average': 26.666666666666668, 'maximum': 40, 'minimum': 10}

Q4. Given a list of strings, group strings by their first character.

In [11]:
strings = ['apple', 'banana', 'apricot', 'blueberry', 'cherry']

groups = {}

for s in strings:
    first_char = s[0]
    if first_char not in groups:
        groups[first_char] = []
    groups[first_char].append(s)

print(groups)

{'a': ['apple', 'apricot'], 'b': ['banana', 'blueberry'], 'c': ['cherry']}

Q5. Check if a string is a palindrome
Ignore case and spaces.

In [14]:
text = input('Enter word: ').lower().replace(' ','')
rev =''
for ch in text:
  rev = ch+rev

if rev == text:
  print("Palindrome")

else:
  print("Not Palindrome")

Enter word: Mom
Palindrome

Q6. Given two lists, find:

* common elements

* elements only in first list

* elements only in second list

Use sets.

In [15]:
list1 = [1,2,3,5,6]
list2 = [1,2,3,4,5,]

common = []
only_in_first = []
only_in_second = []
for num in list1:
  if num in list2:
    common.append(num)
  else:
    only_in_first.append(num)

for i in list2:
  if i not in list1:==
    only_in_second.append(i)

print(f'Common :{common}')
print(f'Elements only in first list :{only_in_first}')
print(f'Elements only in second list :{only_in_second}')

Common :[1, 2, 3, 5]
Elements only in first list :[6]
Elements only in second list :[4]

Q7. Write a function that takes a list of integers and returns a dictionary:

* key = number

* value = "even" or "odd"

In [17]:
list1 = [1,2,3,4,5,6]
dic =  {}

for num in list1:
  if num%2 == 0:
    dic[num] = 'even'
  else:
    dic[num] = 'odd'

print(dic)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even'}

Q8. Given a list of numbers, count how many times each digit (0–9) appears.

In [21]:
nums = [22,13,24,67]

digit_count = {i: 0 for i in range(10)}

for num in nums:
    for digit in str(abs(num)):
        digit_count[int(digit)] += 1

keys_to_remove = [key for key, value in digit_count.items() if value <= 0]
for key in keys_to_remove:
    del digit_count[key]

print(digit_count)

{1: 1, 2: 3, 3: 1, 4: 1, 6: 1, 7: 1}

Q9. Given student marks dictionary, find students scoring above average.

In [24]:
students = {
    'Ravi': 85,
    'Anita': 92,
    'Suresh': 78,
    'Neha': 95,
    'Kiran': 88
}

total = 0
for marks in students.values():
    total += marks

average = total / len(students)

above_avg = {}

for name, marks in students.items():
    if marks > average:
        above_avg[name] = marks

print(above_avg)

{'Anita': 92, 'Neha': 95, 'Kiran': 88}

Q10. Write a function that:

* takes a sentence

* removes punctuation

* returns the most frequent character

In [28]:
import string

def most_frequent_char(sentence):
    freq = {}

    for ch in sentence.lower():
        if ch not in string.punctuation and ch != ' ':
            freq[ch] = freq.get(ch, 0) + 1

    return max(freq, key=freq.get)

In [29]:
most_frequent_char('data science')

'a'