[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)]
(https://colab.research.google.com/github/RiteshZadke/data-science-daily-practice/blob/main/01_python_daily/day_10_comprehensions.ipynb)

# Day 10 – Core Python Comprehensions

This notebook focuses on:
- List comprehensions
- Dictionary comprehensions
- Set comprehensions
- Knowing when not to use comprehensions

Q1. Create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
l1 = [x for x in range(1,11)]
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Q2. Given a list of numbers, create a new list containing only even numbers using list comprehension.

In [ ]:
list_1 = [2,3,6,5,7,9,8,13]
even_list = [x for x in list_1 if x%2 == 0]
print(even_list)

[2, 6, 8]

Q3. Given a string, create a list of its characters excluding spaces.

In [ ]:
text = 'Python'
text = text.replace(' ','')
char = [x for x in text]

print(char)

['P', 'y', 't', 'h', 'o', 'n']

Q4. Given a list of numbers, create a new list:

* replace even numbers with "Even"

* replace odd numbers with "Odd"

In [ ]:
list_1 = [2,3,6,5,7,9,8,13]
list_2 = ['Even' if x % 2 == 0 else 'Odd' for x in list_1]
print(list_2)

['Even', 'Odd', 'Even', 'Odd', 'Odd', 'Odd', 'Even', 'Odd']

Q5. Given:

* matrix = [[1, 2], [3, 4], [5, 6]]


Create a flat list:

* [1, 2, 3, 4, 5, 6]

In [ ]:
matrix = [[1, 2], [3, 4], [5, 6]]
flat = [x for i in matrix for x in i]
print(flat)

[1, 2, 3, 4, 5, 6]

Q6. Create a dictionary where:

* keys are numbers from 1 to 5

* values are their squares

In [ ]:
squares_dic = {x:x**2 for x in range(1,6)}
print(squares_dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Q7. Given a string, create a dictionary of character frequencies.

Rules:

* Ignore spaces

* Case-insensitive

In [ ]:
text = input('Enter string: ').lower().replace(' ','')
char_freq = {x:text.count(x) for x in text}
print(char_freq)

Enter string: Data science
{'d': 1, 'a': 2, 't': 1, 's': 1, 'c': 2, 'i': 1, 'e': 2, 'n': 1}

Q8. Given a dictionary of students and marks, create a new dictionary containing only students with marks ≥ 60.

In [ ]:
students_marks = {
    "Amit": 78,
    "Neha": 92,
    "Rohit": 50,
    "Priya": 58
}

marks_60 = {key : value for key,value in students_marks.items() if value > 60}
print(marks_60)

{'Amit': 78, 'Neha': 92}

Q9. Given a list with duplicate numbers, create a set of unique even numbers using set comprehension.

In [ ]:
dup_nums = [1,2,4,3,5,2,1,3,4]
unique_even = set([x for x in dup_nums if x%2==0 ])
print(unique_even)

{2, 4}

Q10. Write a normal loop-based solution for any ONE of the above questions and add a comment explaining:

Why a loop is clearer here than a comprehension.

In [23]:
s = "Data Science"

freq = {}

for ch in s.lower():
    if ch == ' ':
        continue

    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1

print(freq)

{'d': 1, 'a': 2, 't': 1, 's': 1, 'c': 2, 'i': 1, 'e': 2, 'n': 1}

In [22]:
# A loop is clearer here than a comprehension because:
# - We are updating the same dictionary step by step
# - The logic involves conditions and state changes (incrementing counts)
# - Dictionary comprehension with count() looks shorter but is inefficient (O(n^2))
# - Loop-based code is easier to read, debug, and explain in interviews