[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)]
(https://colab.research.google.com/github/RiteshZadke/data-science-daily-practice/blob/main/01_python_daily/day_08_functions_problem_solving.ipynb)

# Day 08 – Core Python Functions & Problem Solving

This notebook focuses on:
- Writing reusable and modular functions
- Applying loops and conditionals inside functions
- Handling edge cases and input validation
- Solving interview-style Python logic problems

Q1. Write a function that takes an integer and returns the sum of its digits.

In [21]:
def digit_sum(num):
    num = abs(num)
    total = 0
    while num > 0:
        total += num % 10
        num //= 10
    return total

In [22]:
digit_sum(2345)

14

Q2. Write a function that takes a string and returns:

* number of uppercase letters

* number of lowercase letters

Return the result as a tuple.

In [3]:
def count_up_low(text):
  low_count = 0
  up_count = 0
  for i in text.replace(' ',''):
    if i == i.upper() and i not in '1234567890':
      up_count +=1
    if i == i.lower()and i not in '1234567890':
      low_count += 1

  return (low_count,up_count)

In [4]:
count_up_low("Data Science Is Cool 23456")

(13, 4)

Q3. Write a function to check whether a number is prime.

Handle edge cases carefully:

* numbers ≤ 1

* number = 2

Return True or False.

In [5]:
def is_prime(n):
    if n <= 1:
        return False

    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False

    return True

In [6]:
is_prime(73)

True

Q4. Write a function that returns the factorial of a number.

In [23]:
def factorial(num):
    if num < 0:
        return None

    result = 1
    for i in range(1, num + 1):
        result *= i
    return result

In [24]:
factorial(6)

720

Q5. Write a function that takes an integer and returns its reverse.

In [25]:
def reverse_number(num):
    sign = -1 if num < 0 else 1
    num = abs(num)

    rev = 0
    while num > 0:
        rev = rev * 10 + (num % 10)
        num //= 10

    return sign * rev

In [26]:
reverse_number(234)

432

Q6. Write a function to check whether a string is a palindrome.

In [27]:
def is_palindrome(text):
    text = text.lower().replace(" ", "")

    left = 0
    right = len(text) - 1

    while left < right:
        if text[left] != text[right]:
            return False
        left += 1
        right -= 1

    return True

In [28]:
is_palindrome("Never odd or even")

True

Q7. Write a function that returns the second largest number from a list.

Rules:

* Do not use sort() or max()

* Handle duplicate values

In [29]:
def second_largest(lst):
    if len(lst) < 2:
        return None

    largest = None
    second = None

    for num in lst:
        if largest is None or num > largest:
            if largest != num:
                second = largest
            largest = num
        elif num != largest and (second is None or num > second):
            second = num

    return second

In [30]:
second_largest([1,2,3,4,5,6,7])

6

Q8. Write a function that counts the number of vowels in a string.

Rules:

* Case-insensitive

* Ignore digits and special characters

In [15]:
def vowel_count(text):
  text = text.lower()
  count = 0
  for ch in text:
    if ch.isalpha():
      if ch in 'aeiou':
        count += 1
  return count

In [16]:
vowel_count('Hello World! 123')

3

Q9. Write a function that returns the first n Fibonacci numbers.

In [31]:
def fibonacci_list(n):
    if n <= 0:
        return []
    if n == 1:
        return [0]

    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[i-1] + fib[i-2])

    return fib

In [32]:
fibonacci_list(6)

[0, 1, 1, 2, 3, 5]

Q10. Write a function that removes duplicates from a list without changing order.

In [19]:
def remove_dup(list1):
  result = []
  for num in list1:
    if num not in result:
      result.append(num)

  return result

In [20]:
remove_dup([1])

[1]