[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)]
(https://colab.research.google.com/github/RiteshZadke/data-science-daily-practice/blob/main/01_python_daily/day_02_loops.ipynb)

# Day 02 â€“ Python Loops Practice

This notebook contains 10 practice problems focused on:
- `for` and `while` loops
- Iteration-based logic
- Counters and accumulators
- Pattern printing and number-based problems

Q1. Print numbers from 1 to 10 using a for loop.

In [53]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

Q2. Print even numbers between 1 and 20.

In [54]:
for i in range(1,21):
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20

 Q3. Print the sum of numbers from 1 to n, where n is taken as input.

In [55]:
n = int(input("Enter number: "))
total = 0
for i in range(1,n+1):
  total+=i
print(f'Sum of numbers form 1 to {n}: {total}')

Enter number: 6
Sum of numbers form 1 to 6: 21

Q4. Print the multiplication table of a given number (up to 10).

In [56]:
num = int(input("Enter number: "))
for i in range(1,11):
  print(f'{i} x {num} = {i*num}')

Enter number: 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

Q5. Count the number of digits in a given integer.

In [57]:
num = int(input("Enter number: "))
count = 0
for i in str(num):
  count +=1
print('Number of digit: ',count)

Enter number: 5
Number of digit:  1

Q6. Reverse a number using a loop.

In [ ]:
n = int(input("Enter a number: "))
reverse = 0

while n > 0:
    digit = n % 10
    reverse = reverse * 10 + digit
    n = n // 10

print("Reversed number:", reverse)

Q7. Check whether a number is prime or not.

In [58]:
num = int(input("Enter number: "))

if num <= 1:
    print("Not Prime")
else:
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        print("Prime")
    else:
        print("Not Prime")

Enter number: 77
Not Prime

Q8. Print the factorial of a given number.

In [60]:
num = int(input("Enter number: "))
if num < 0:
    print("Factorial is not defined for negative numbers")
else:
    fact = 1
    while num > 1:
        fact *= num
        num -= 1
    print(f'factorial is {fact}')

Enter number: 5
factorial is 120

Q9. Print the following pattern:

In [61]:
# *
# **
# ***
# ****
# *****

In [62]:
num = int(input("Enter number of layer: "))
for i in range(1,num+1):
  print('*'*i)

Enter number of layer: 5
*
**
***
****
*****

Q10. Given a number n, print the Fibonacci series up to n terms.

In [63]:
n = int(input("Enter number: "))

a, b = 0, 1

for i in range(n):
    print(a)
    a, b = b, a + b

Enter number: 8
0
1
1
2
3
5
8
13