[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)]
(https://colab.research.google.com/github/RiteshZadke/data-science-daily-practice/blob/main/01_python_daily/day_12_error_handling_debugging.ipynb)

# Day 12 – Core Python Error Handling & Debugging

This notebook focuses on:
- Understanding Python exceptions
- Using try–except blocks correctly
- Writing defensive code
- Debugging logic errors

Q1. Write a function that takes two numbers and returns their division.
* Handle division by zero gracefully.

In [69]:
def division(num1,num2):
  try:
    return num1/num2
  except ZeroDivisionError:
    return "Division by zero not allowed"

In [70]:
division(2,0)

'Division by zero not allowed'

Q2. Write a function that takes two inputs and tries to convert them to integers.

Handle:
* ValueError
* TypeError

In [71]:
def str_to_num(text):
  try:
    return float(text)
  except ValueError:
    return "Error: Invalid value provided"
  except TypeError:
    return "Error: Wrong type provided"

In [72]:
str_to_num('abc')

'Error: Invalid value provided'

Q3. Modify Q1 so that instead of crashing,
* it returns a meaningful error message.

In [73]:
def division(num1,num2):
  try:
    return num1/num2
  except ZeroDivisionError:
    return "Error: Cannot divide by zero"
  except TypeError:
    return "Error: Inputs must be numbers"

In [74]:
division(2,0)

'Error: Cannot divide by zero'

 Q4. Write a function that opens a file.
  reads its content,
 and always prints "Operation completed" using finally,
 even if an error occurs.

In [75]:
def read_file(filename):
    try:
        file = open(filename, "r")
        content = file.read()
        print(content)
    except FileNotFoundError:
        print("Error: File not found")
    finally:
        print("Operation completed")

Q5. Write a function that takes age as input.
* If age is negative, raise a ValueError with a custom message.

In [76]:
def age(num):
  if num<0:
    raise ValueError('age cannot be negative')
  return f"valid age: {num}"

In [77]:
age(5)

'valid age: 5'

Q6. The function below is supposed to return the sum of numbers from 1 to n.
* Find and fix the logical error.

In [78]:
#   def sum_upto_n(n):
#    total = 0
#     for i in range(1, n):
#         total += i
#     return total

In [79]:
def sum_upto_n(n):
  total = 0
  for i in range(1,n+1):# here was the bug range always goes till n-1
    total += i
  return total

In [80]:
sum_upto_n(5)

15

Q7. The code below throws an error.
- Identify the error and fix it.

  numbers = [1, 2, 3]
  
  print(numbers[5])

In [81]:
numbers = [1, 2, 3]

try:
    print(numbers[5])
except IndexError:
    print("Error: Index out of range")

Error: Index out of range

Q8. Write a function that takes a list of numbers and returns the average.
Handle:
- empty list
- non-numeric values

In [82]:
def average(nums):
    if not nums:
        return "Error: list is empty"

    total = 0
    count = 0

    for num in nums:
        if not isinstance(num, (int, float)):
            return "Error: list contains non-numeric values"
        total += num
        count += 1

    return total / count

In [83]:
average(['q',1,2,3,4,5,6])

'Error: list contains non-numeric values'

Q9. Write a function that converts a string to integer.
- Print "Conversion successful" only if no exception occurs.

In [84]:
def string_to_int(s):
    try:
        num = int(s)
    except ValueError:
        print("Conversion failed")
    else:
        print("Conversion successful")
        return num

In [85]:
string_to_int('123c')

Conversion failed

Q10. Solve ANY ONE of the above problems using
explicit input checks instead of try–except.
Add comments explaining why this approach is clearer.

In [86]:
def average(nums):
    # Explicit checks are clearer here because
    # we are validating input rules, not handling unexpected runtime errors.

    if not nums:
        return "Error: list is empty"

    for num in nums:
        if not isinstance(num, (int, float)):
            return "Error: list contains non-numeric values"

    return sum(nums) / len(nums)